<nav aria-label="Page navigation example">
    <ul *ngIf="numberPages>1" class="pagination justify-content-center">
        <li [ngClass]="{'disabled' : currentPage == 1}" class="page-item">
            <a (click)="previous()" class="page-link">Previous</a>
          </li>
          <li [class.active]="currentPage==page" *ngFor="let page of pages" class="page-item">
            <a (click)="selectedPage(page)" class="page-link">{{ page }}</a>
          </li>
          <li [ngClass]="{'disabled' : currentPage == numberPages}"  class="page-item">
            <a (click)="next()" class="page-link">Next</a>
          </li>
    </ul>
 </nav><!--.pagination -->
