<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">



<!-- <div class="col-sm-8 music"> 
    <nav aria-label="Page navigation example"> 
        <ul *ngIf="albums" class="list-inline">
            <li class="list-inline-item" *ngFor="let album of albums">
                <span class="badge badge-info">{{ album.id }}</span> 
                <h2>{{ album.name }}</h2>
                <p>{{album.description}}</p>
            </li>    
        </ul>
    </nav>
    
</div> -->
<!-- <div class="list-group" *ngIf="albums">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true" *ngFor="let album of albums">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ album.name }}</h5>
        <small>{{ album.id }}</small>
      </div>
      <p class="mb-1">{{album.description}}.</p>
      <small>And some small print.</small>
    </a>
</div> -->
<!-- <div class="col-sm-8 music ">
   <ul class="list-group " *ngIf="albums">
     <li *ngFor="let album of albums" class="list-group-item d-flex justify-content-between align-items-start">
       <span class="badge bg-primary rounded-pill">{{ album.id }}</span>
       <div class="ms-2 me-auto">
         <div class="fw-bold">{{ album.name }}</div>
         {{album.description}}
         <ul *ngIf="album.tags" class="list-inline">
           <li class="list-inline-item" *ngFor="let tag of album.tags">
             <span class="badge bg-primary rounded-pill"> {{tag}} </span>
           </li>
         </ul>
         <a class="btn btn-outline-dark" href="#" role="button">en</a>
         <ng-template [ngIf]="album.like">
           <img class="glyph-icon" src="./assets/svg/si-glyph-heart.svg" />
           <small>3</small>
         </ng-template>
         <ng-template [ngIf]="album.duration">
           <img class="glyph-icon" src="./assets/svg/si-glyph-timer.svg" />
           <small>120 min</small>
         </ng-template>
       </div>
     </li>
   </ul>
</div> -->

<div class="container-fluid">
<app-search (albumSearch)="searchAlbum($event)"></app-search>
</div>
<div class="container-fuild principal">
    <div class="row content">
        <div class="col-sm-4 video">
            <app-album-details [album]="selectedAlbum" (onPlay)="playParent($event)"></app-album-details>
        </div><!-- .video -->

        <div class="col-sm-8 music" >
            <h1 style="text-align: center;">{{ title }}</h1>
            <app-paginate (setPaginate)="paginate($event)"></app-paginate>
            <div class="card text-dark bg-info mb-3"  *ngFor="let album of albums" >
                <div *ngIf="idEvent===album.id">
                    <button type="button" class="btn btn-primary" style="margin-bottom: 30px;">Playing</button>
                </div>   
                <div class="card-header">pop</div>
                <div class="card-body" >
                  <h5 class="card-title">
                    <a class="text-dark" routerLink="/album/{{album.id}}">{{album.title}}</a>
                  </h5>
                  <h6 class="card-subtitle">
                    {{album.name}}
                  </h6>
                  <p class="card-text">{{ album.description }}</p>
                  <ul *ngIf="album.tags" class="list-inline">
                    <li class="list-inline-item" *ngFor="let tag of album.tags">
                      <span class="badge bg-primary rounded-pill"> {{tag}} </span>
                    </li>
                  </ul>
                  <a class="btn btn-outline-dark" href="#" role="button" style="margin-right: 20px;">en</a>
                  <ng-template [ngIf]="album.like">
                    <i class="bi bi-heart-fill"></i>
                    <!-- <img class="glyph-icon" src="/src/assets/svg/si-glyph-heart.png"> -->
                    <small>{{album.like}}</small>
                  </ng-template>
                  <ng-template [ngIf]="album.duration" >
                    <i class="bi bi-stopwatch"></i>
                    <!-- <img class="glyph-icon" src="/src/assets/svg/si-glyph-timer.png"> -->
                    <small>{{album.duration}}  min</small>
                  </ng-template>
                  <button type="button" class="btn btn-secondary"
                  style="margin-left: 20px;" (click)="onSelect(album)">Détails</button>
                </div>
            </div>
            <app-paginate (setPaginate)="paginate($event)"></app-paginate>
        </div>
    </div>
</div>

